		<!-- Not used yet
        
        <br>
        <div>
            <table class="table table-striped table-condensed" ng-show="active === mToolsOutput.portalOrderedArray">
                <caption class="text-left"><h4>Portal<h4></caption>
                <tr>
                    <th ng-repeat="jdataH in memberHeaders.portalColumnHeaders track by $index">
                        {{jdataH}}
                    </th>
                </tr>
                <tr ng-repeat="(jkey, jdata) in mToolsOutput.portalOrderedArray track by $index">
                        <td ng-repeat="(key, value) in mToolsOutput.portalOrderedArray[jkey] track by $index">

                            <span editable-text="mToolsOutput.portalOrderedArray[jkey][key]">{{value}}</span>

                            <input type="text" editable-text="mToolsOutput.portalOrderedArray[jkey][key]" ng-model="value" ng-if="!value" class="editable-text">
                    
                        </td>
                        <td><button type="button"  class="btn btn-danger pull-right" ng-click="deleteUser(jkey)">Del</button></td>
                </tr>
            </table>
            <table class="table table-striped table-condensed" ng-show="active === mToolsOutput.projectOrderedArray">
                <caption class="text-left"><h4>Project<h4></caption>
                <tr>
                    <th ng-repeat="jdataH in memberHeaders.projectColumnHeaders track by $index">
                        {{jdataH}}
                    </th>
                </tr>
                <tr ng-repeat="(jkey, jdata) in mToolsOutput.projectOrderedArray track by $index">
                        <td ng-repeat="(key, value) in mToolsOutput.projectOrderedArray[jkey] track by $index">

                            <span editable-text="mToolsOutput.projectOrderedArray[jkey][key]">{{value}}</span>

                            <input type="text" editable-text="mToolsOutput.projectOrderedArray[jkey][key]" ng-model="value" ng-if="!value" class="editable-text">
                    
                        </td>
                        <td><button type="button"  class="btn btn-danger pull-right" ng-click="deleteUser(jkey)">Del</button></td>
                </tr>
            </table>
        </div>
        <div ng-repeat="company in mToolsInput.compObjects">
            <table class="table table-striped table-condensed" ng-show="active === company">
                <caption class="text-left"><h4>{{company.compName}}<h4></caption>
                <tr>
                    <th ng-repeat="jdataH in memberHeaders.portalColumnHeaders track by $index">
                        {{jdataH}}
                    </th>
                </tr>
                <tr ng-repeat="(jkey, jdata) in company.userArray track by $index">
                        <td ng-repeat="(key, value) in company.userArray[jkey] track by $index">

                            <span editable-text="company.userArray[jkey][key]">{{value}}</span>

                            <input type="text" editable-text="company.userArray[jkey][key]" ng-model="value" ng-if="!value" class="editable-text">
                    
                        </td>
                        <td><button type="button"  class="btn btn-danger pull-right" ng-click="deleteUser(jkey)">Del</button></td>
                </tr>
            </table>
        </div>

        -->