<div class="default">
	<div class="col-xs-12 col-md-12">
		
		<div class="jumbotron">
			<h1>Paste CSV Here</h1>
			<p>
				Convert spreadsheet into a CSV, open it in a text editor, copy text, and then paste it here.
			</p>
			<p>
				<form id="inputForm" action="">
					<div class="form-group">
						<textarea name="" id="csvContainer" rows="5"></textarea>
					</div>
				</form>
			</p>
			<p>
				<button id="processCSV" type="button" class="btn btn-primary btn-lg" ng-click="processCSV()">
					Start CSV Processing
				</button>
				<button id="retrieveInputCSV" type="button" class="btn btn-primary btn-lg" ng-click="retrieveInputCSV()">
					Retrieve Input CSV
				</button>
				<button id="saveCSV" type="button" class="btn btn-primary btn-lg" ng-click="saveCSV()">
					Save
				</button>
				<button id="clearAll" type="button" class="btn btn-primary btn-lg" ng-click="clearAll()">
					Clear
				</button>
			</p>
		</div>
			
	</div><!--/. panel panel-default-->
	
	<!--
	<div class="col-xs-12 col-md-12">
		<div class="panel">
			
			<div class="panel-body">
				<div class="page-header">
				  	<h2>Results <small>The results</small></h2>
				</div>
				<textarea name="" id="csvOutputProject" rows="5" class="textwrapper">
{{csvColumnHeadersArray}}
::
{{csvRowsArray}}
				</textarea>
			</div>
			
		</div>
	</div>
	-->
	
	<div class="col-xs-12 col-md-12">
		<!--
		<div class="input-group">
		  	<span class="input-group-addon">Search Table:</span>
		  	<input type="text" class="form-control" placeholder="Username" ng-model="searchText">
		</div>
		-->
		<br>
		<table class="table table-striped">
			<tr>
				<th ng-repeat="jdataH in csvColumnHeadersArray track by $index">
					{{jdataH}}
				</th>
			</tr>
			<tr ng-repeat="jdata in csvRowsArray track by $index">

					<td ng-repeat="(key, value) in jdata track by $index">
						<span editable-text="csvRowsArray[$parent.$index][$index]">{{value}}</span>
					</td>

			</tr>
		</table>
	</div>
	<!--
	<table class="table table-striped">
		<tr ng-repeat="jdataH in jsonResultArray | limitTo:1">
			<th ng-repeat="(keyH, valueH) in jdataH">{{keyH}}</th>
		</tr>
		<tr ng-repeat="jdata in jsonResultArray">
			
			<td ng-repeat="(key, value) in jdata" editable-text="value">{{value}}</td>
		</tr>
	</table>
	-->
	
</div>