<div class="default">
	<div class="col-xs-12 col-md-12">
		
		<div class="jumbotron">
            <div>
                <h1>Paste CSV Here</h1>
                <p>
                    Convert spreadsheet into a CSV, drag-and-drop or copy/paste below.
                </p>
                <p>
                    <form id="inputForm" action="">
                        <div class="form-group">
                            <textarea name="" id="csvContainer" rows="5"></textarea>
                        </div>
                    </form>

                </p>
            </div>
			<p>
				<button id="processCSV" type="button" class="btn btn-success btn-lg" ng-click="processCSV()">
					<span class="glyphicon glyphicon-th-large"></span> Load CSV
				</button>
				
				<button id="showCurrentCSVInContainer" type="button" class="btn btn-primary btn-lg" ng-click="showCurrentCSVInContainer()" ng-show="tableVisibility">
					<span class="glyphicon glyphicon-edit"></span> Editor View
				</button>
                
                <button id="openInMTools" type="button" class="btn btn-warning btn-lg" ng-click="openInMTools()" ng-hide="tableVisibility">
                            <span class="glyphicon glyphicon-user"></span>  Member Tools 
                </button>
                
				<button id="saveCSV" type="button" class="btn btn-primary btn-lg" ng-click="saveCSV()" ng-show="tableVisibility">
					<span class="glyphicon glyphicon-save"></span>
				</button>
				<button id="clearAll" type="button" class="btn btn-danger btn-lg" ng-click="clearAll()">
					<span class="glyphicon glyphicon-repeat"></span>
				</button>
				<!--
				<button id="executeButton" type="button" class="btn btn-primary btn-lg" ng-click="executeButton()">
					Execute
				</button>
				-->
			</p>
		</div>
			
	</div><!--/. panel panel-default-->
	
	<!--
	<div class="col-xs-12 col-md-12">
		<div class="panel">
			
			<div class="panel-body">
				<div class="page-header">
				  	<h2>Results <small>The results</small></h2>
				</div>
				<textarea name="" id="csvOutputProject" rows="5" class="textwrapper">
{{csvColumnHeadersArray}}
::
{{csvRowsArray}}
				</textarea>
			</div>
			
		</div>
	</div>
	-->
	
	<div class="col-xs-12 col-md-12" ng-show="tableVisibility">
	
		<!--
		<div class="input-group">
		  	<span class="input-group-addon">Search Table:</span>
		  	<input type="text" class="form-control" placeholder="Search..." ng-model="searchText">
		</div>
		-->
        
		<br>
		<table class="table table-striped table-condensed" sv-root sv-part="csvRowsArray">
			
			<tr>
				<th ng-repeat="(keyH, jdataH) in csvColumnHeadersArray track by $index">
					<p>
                    <div class="btn-group">
                        <button type="button"  class="btn btn-primary btn-xs" ng-click="addColumnAfter($index)">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </button>
                        <button type="button"  class="btn btn-danger btn-xs" ng-click="deleteColumn($index)">
                            <span class="glyphicon glyphicon-minus-sign"></span>
                        </button>
                    </div>
                    <br>
                    <div class="btn-group">
                        <button type="button"  class="btn btn-primary btn-xs" ng-click="moveLeft($index)">
                            <span class="glyphicon glyphicon-circle-arrow-left"></span>
                        </button>
                        <button type="button"  class="btn btn-primary btn-xs" ng-click="moveRight($index)">
                            <span class="glyphicon glyphicon-circle-arrow-right"></span>
                        </button>
                    </div>
                    </p>
                    <span editable-text="csvColumnHeadersArray[keyH]">{{jdataH}}</span>
                    <input class="editable-text" type="text" editable-text="csvColumnHeadersArray[keyH]" ng-model="jdataH" ng-if="!jdataH">
				</th>
			</tr>
			<tr ng-repeat="(jkey, jdata) in csvRowsArray | filter:searchText track by $index" sv-element="opts" class="well">
					<td ng-repeat="(key, value) in csvRowsArray[jkey] track by $index">
						
						<span editable-text="csvRowsArray[jkey][key]">{{value}}</span>
						
						<input class="editable-text" type="text" editable-text="csvRowsArray[jkey][key]" ng-model="value" ng-if="!value">
						<!--
						<input type="text" editable-text="csvRowsArray[$parent.$index][$index]" ng-model="value" ng-if="!value">
						-->
					</td>
					<td>
                        <div class="btn-group">
                            
                            <button type="button"  class="btn btn-primary btn-xs pull-right" ng-click="addRowAfter(jkey)">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                            </button>
                            <button type="button"  class="btn btn-danger btn-xs pull-right" ng-click="deleteRow(jkey)">
                                <span class="glyphicon glyphicon-minus-sign"></span>
                            </button>
                        </div>
                        <!--
                        <div class="btn-group">
                            <button type="button"  class="btn btn-primary btn-xs pull-right" ng-click="moveUp(jkey)">
                                <span class="glyphicon glyphicon-circle-arrow-up"></span>
                            </button>
                            <button type="button"  class="btn btn-primary btn-xs pull-right" ng-click="moveDown(jkey)">
                                <span class="glyphicon glyphicon-circle-arrow-down"></span>
                            </button>
                        </div>
                        -->
                    </td>
			</tr>
		</table>
		
	
	</div>
	<!--
	<table class="table table-striped">
		<tr ng-repeat="jdataH in jsonResultArray | limitTo:1">
			<th ng-repeat="(keyH, valueH) in jdataH">{{keyH}}</th>
		</tr>
		<tr ng-repeat="jdata in jsonResultArray">
			
			<td ng-repeat="(key, value) in jdata" editable-text="value">{{value}}</td>
		</tr>
	</table>
	-->
</div>