<!-- <div class="container"> -->
	
	
	
	<div class="default">
	
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading"><h4 class="panel-title">Input (6 and 7-digit property IDs)</h4></div>
					
					<div class="panel-body">
						<!-- <div id="cmLeft">
							<textarea ui-codemirror="cmOptionLeft" ng-model="cmLeft"></textarea>
						</div>	-->
						<form id="inputForm" action="">
							<div class="form-group">
								<textarea name="" id="editorLeft" rows="10"></textarea>
							</div>
							<p>Click on the FNC line text to see the results for that line.</p>
							
							<div class="btn-group btn-group-justified">
								
								<div class="btn-group">
								<button id="findAllPar" type="button" class="btn btn-default" ng-click="findAllPar()">
											Find All $x
								</button>
								</div>
								<div class="btn-group dropup">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									    Other Functions <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										  	
									  	<li><span id="replaceIdsWithNames" type="button" class="btn" ng-click="replaceIdsWithNames()">Turn IDs to Names</span></li>
									    <li><span id="ptRow" type="button" class="btn" ng-click="ptRow()">Turn ( to Rows</span></li>
									    <li class="divider"></li>
									    <li><span id="clearText" type="button" class="btn" ng-click="clearText()">Clear</span></li>
									</ul>
								</div>
							 	<div class="btn-group dropup">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									    Add Sample Input <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										  	
									  	<li><span id="fncWoBrackets" type="button" class="btn" ng-click="fncWoBrackets()">FNC without Brackets</span></li>
									    <li><span id="addSimple" type="button" class="btn" ng-click="addSimple()">Simple FNC</span></li>
									    <li><span id="addComplex" type="button" class="btn" ng-click="addComplex()">Complex FNC</span></li>
									</ul>
								</div>
								
							</div>
						</form>
						
					</div><!--/. panel-body-->
				</div><!--/. panel panel-default-->

			</div><!--/.col-xs-12 col-md-9 -->

			<div class="col-xs-12 col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading"><h4 class="panel-title">Results</h4></div>
					<div class="panel-body">
						<!-- <div id="cmRight">
							<textarea ui-codemirror="cmOptionRight" ng-model="cmLeft"></textarea>
						</div> -->
						<div class="form-group">
							<textarea name="" id="editorRight" rows="10"></textarea>
						</div>
						
						<div class="btn-group btn-group-justified">
							<div class="btn-group">
								<button id="copyLine" type="button" class="btn btn-default" ng-click="copyLine()">
										Copy Line To Input
								</button>
							</div>
							<div class="btn-group">
								<button id="saveLine" type="button" class="btn btn-default" ng-click="saveLine()">
										Save Line
								</button>
							</div>
							<div class="btn-group">
								<button id="retrieveLines" type="button" class="btn btn-default" ng-click="retrieveLines()">
										Retrieve Saved Lines
								</button>
							</div>
						</div>
						<div class="form-group">
							 
							<div class="btn-group btn-group-justified">
								<div class="btn-group">
									<button id="addToArray" type="button" class="btn btn-default" ng-click="addToArray()">
											Add to Array
									</button>
								</div>
								<div class="btn-group">
									<button id="showArray" type="button" class="btn btn-default" ng-click="showArray()">
											Show Array
									</button>
								</div>
								<div class="btn-group">
									<button id="clearRight" type="button" class="btn btn-default" ng-click="clearRight()">
											Clear
									</button>
								</div>
							</div>
						</div>
						
						
					</div><!--/. panel-body-->
					
				</div><!--/. panel panel-default-->

				<div class="panel panel-default">
					
					<div class="panel-body">
					
						<div class="input-group">
							<span class="input-group-addon">(</span>
							<input type="text" id="countOpen" disabled class="form-control">
							<span class="input-group-addon">)</span>
							<input type="text" id="countClosed" disabled class="form-control">
							<span class="input-group-addon">Characters</span>
							<input type="text" id="count" disabled class="form-control">
							<!--
							<span class="input-group-btn">
								<input type="button" id="findPar" value="Find $x" class="btn btn-primary">
							</span>
							<input type="text" id="inpFindPar" placeholder="eg. 10" class="form-control">
							-->
						</div>
						<textarea id="textResult" rows="5" cols="90" readonly="readonly" class="form-control"></textarea>
						<br>
						
						<div class="alert alert-success" role="alert" ng-hide="isActive">
							<strong>Last Saved:: </strong>
							{{lastSavedAlert}}
						</div>
						
						
					</div><!--/. panel-body-->
				</div><!--/. panel panel-default-->
			</div><!--/.col-xs-6 col-md-3 -->

		</div><!--/.row -->

	</div><!--/.default -->
<!-- </div> --><!-- /.container -->
	