<div class="default">
	<div class="col-xs-12 col-md-12">
		
		<div class="jumbotron" ng-show="!showResults && !showTransformMap">
			<h1>Paste Member CSV Here</h1>
			<p>
				Convert spreadsheet into a CSV, open it in a text editor, copy text, and then paste it here.
			</p>
			<p>
				<form id="inputForm" action="">
					<div class="form-group">
						<textarea name="" id="csvContainer" rows="5"></textarea>
					</div>
				</form>
			</p>
			<p>
				<button id="showPreProcessor" type="button" class="btn btn-primary btn-lg" ng-click="showPreProcessor()">
					Start CSV Processing
				</button>
			</p>
		</div>
			
	</div><!--/. panel panel-default-->
		
	
		
		
	<div class="panel" ng-show="showTransformMap">
		<div class="panel-body">
			<div class="page-header">
			  	<h2>Transform Mapping <small>Map your CSV columns against the standard Keystone Portal CSV </small></h2>
			</div>
			<div class="col-xs-12 col-md-6">
					<h4>CSV Columns</h4>
					<div class="input-group" ng-repeat="portalHeader in portalColumnHeaders">
						
					  	<span class="input-group-addon">{{portalHeader}}</span>
					  	<!-- <input type="text" class="form-control" placeholder="Column Name"> -->
					  	<input list="csvColumnHeaders" name="csvColumnHeaders" class="form-control" placeholder="CSV Header" ng-model="csvHeaderInput[$index]">
						<datalist id="csvColumnHeaders">
						  	<option ng-repeat="columnHeader in csvColumnHeaders">{{columnHeader}}</option>
						</datalist>
					</div>
				
			</div><!--/.col-xs-12 col-md-6 -->
			<div class="col-xs-12 col-md-6">
				<h4>Company Information</h4>
				<div class="input-group" ng-repeat="company in companies track by $index">
					
				  	<span class="input-group-addon">{{company}}</span>
				  	<input type="text" class="form-control" placeholder="Username Suffix" ng-model="companyShortCodeInput[$index]">
				  	<input type="text" class="form-control" placeholder="ABN" ng-model="companyABNInput[$index]">
				</div>
					
				<div class="page-header">
					<h4>Columns From Uploaded CSV</h4>
				</div>
				<div class="panel-body">
					<span>:</span>
					<span ng-repeat="columnHeader in csvColumnHeaders"> : {{columnHeader}} : </span>
					<span>:</span>
				</div>
				
			</div><!--/.col-xs-12 col-md-6 -->
			<div class="col-xs-12 col-md-12">
				<div class="panel-body">
					<div class="btn-group">
						<button id="process" type="button" class="btn btn-primary btn-lg" ng-click="process()">
							Generate Bulk Import CSVs
						</button>
						<button type="button" class="btn btn-danger btn-lg" ng-click="reloadRoute()" ng-show="showTransformMap || showResults">
							Reset
						</button>
					</div>
				</div>
			</div><!--/.col-xs-12 col-md-6 -->
		</div><!--/. panel-body-->
	</div><!--/. panel -->
		
		
		
	<div class="panel" ng-show="showResults">
		<div class="panel-body">
			<div class="page-header">
			  	<h2>Portal <small>User Bulk Import CSV</small></h2>
			</div>
			<textarea name="" id="csvOutputPortal" rows="5" class="textwrapper">{{textOutput}}</textarea>
		</div><!--/. panel-body-->
		
		<div class="panel-body">
			<div class="page-header">
			  	<h2>Project <small>User Bulk Import CSV</small></h2>
			</div>
			<textarea name="" id="csvOutputProject" rows="5" class="textwrapper">{{textOutputProject}}</textarea>
		</div><!--/. panel-body-->
		
		<div class="panel-body">
			<div class="btn-group">
				<button id="savePortalCSV" type="button" class="btn btn-primary btn-lg" ng-click="savePortalCSV()">
							Save <strong>Portal</strong> User Bulk Import CSV
				</button>
				<button id="saveProjectCSV" type="button" class="btn btn-primary btn-lg" ng-click="saveProjectCSV()">
							Save <strong>Project</strong> User Bulk Import CSV
				</button>
				<button type="button" class="btn btn-danger btn-lg" ng-click="reloadRoute()" ng-show="showTransformMap || showResults">
					Reset
				</button>
			</div>
		</div>
	</div><!--/. panel -->
		
</div>