<div class="default">
    <!--    -->
	<div class="col-xs-12 col-md-12">
        
        
        <div id="member-results-header" ng-show="memberResultsVisibility">         
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{active: active === mToolsOutput.portalOrderedArray}">
                        <a class="dropdown-toggle" href="" 
                           ng-click="showInContainer(mToolsOutput.portalOrderedArray, mToolsOutput.portalOrderedArray, memberHeaders.portalColumnHeaders)">
                            Portal
                        </a>
                    </li>
                    <li role="presentation" ng-class="{active: active === mToolsOutput.projectOrderedArray}">
                        <a class="dropdown-toggle" href="" ng-click="showInContainer(mToolsOutput.projectOrderedArray, mToolsOutput.projectOrderedArray, memberHeaders.projectColumnHeaders)">
                            Project
                        </a>
                    </li>

                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                            Individual Companies <small>(Portal)</small> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="company in mToolsInput.compObjects">
                                <a href=""  
                                   ng-click="showInContainer(company, company.userArray, memberHeaders.portalColumnHeaders)" 
                                   ng-class="{active: active === company}">{{company.compName}}</a></li>
                        </ul>
                    </li>
                </ul>             
            </div>
        </div> <!--/. member-results-header  -->
        
        
		<div id="main" ng-class="{jumbotron: !memberResultsVisibility}" ng-show="editorVisibility">

            <div ng-hide="memberResultsVisibility">
                <h1>Paste CSV Here</h1>
                <p>
                    Convert spreadsheet into a CSV, drag-and-drop or copy/paste below.
                </p>
            </div>
            
            
            
			<p>
				<form id="inputForm" action="">
					<div class="form-group">
						<textarea name="" id="csvContainer"></textarea>
					</div>
				</form>
			</p>
        
			<div ng-hide="memberResultsVisibility">
                <button id="processMemberCSV" type="button" class="btn btn-primary btn-lg" ng-click="processMemberCSV()">
					<span class="glyphicon glyphicon-chevron-right"></span>  Member CSV 
				</button>
			</div>
            
            <div ng-show="memberResultsVisibility">
                <p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm" ng-repeat="company in mToolsInput.compObjects" ng-click="saveCompanyCSV(company)">
                            {{company.compName}} Portal CSV
                        </button>
                    </div>
                </p>
                <p>
                    <div class="btn-group">

                        <button id="savePortalCSV" type="button" class="btn btn-primary btn-lg" ng-click="savePortalCSV()">
                                    <span class="glyphicon glyphicon-save"></span>  Portal CSV <small>(All Companies)</small>
                        </button>


                        <button id="saveProjectCSV" type="button" class="btn btn-primary btn-lg" ng-click="saveProjectCSV()">
                                    <span class="glyphicon glyphicon-save"></span>  Project CSV 
                        </button>

                        <!--
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-save"></span> Individual Companies <span class="caret"></span> 
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li class="nav-justified" ng-repeat="company in mToolsInput.compObjects"><a href=""  ng-click="saveCompanyCSV(company)">{{company.compName}}</a></li>
                            </ul>
                        </div>
                        -->

                        <button type="button" class="btn btn-danger btn-lg" ng-click="reset()">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>

                    </div>
                </p>
                
            </div>
    
		</div> <!--/. main  -->
    
    
    
        <div id="transform-mapping" class="panel" ng-show="transformMappingVisibility">
            
            <div class="panel-body">
                <div class="page-header">
                    <h2>Transform Mapping <small>Map your CSV columns against the standard Keystone Portal CSV </small></h2>
                </div>
                <div class="col-xs-12 col-md-6">
                    <h4>CSV Columns</h4>
                    <div class="input-group" ng-repeat="portalHeader in memberHeaders.portalColumnHeaders">

                        <span class="input-group-addon">{{portalHeader}}</span>
                        <!-- <input type="text" class="form-control" placeholder="Column Name"> -->
                        <input list="csvColumnHeaders" name="csvColumnHeaders" class="form-control" placeholder="CSV Header" ng-model="memberHeaders.csvPortalHeaderInput[$index]">
                        <datalist id="csvColumnHeaders">
                            <option ng-repeat="columnHeader in mToolsInput.headersArray">{{columnHeader}}</option>
                        </datalist>
                    </div>

                    <p>
                        <div class="input-group">
                            <span class="input-group-addon">Default TimeZone (if none provided)</span>
                            <select ng-model="timezone.timezoneInput"
                                    ng-options="timezone for timezone in timezone.timezones" 
                                    class="form-control">
                                    <option value="">-- choose timezone --</option>
                            </select>
                        </div>
                    </p>
                </div><!--/.col-xs-12 col-md-6 -->
                <div class="col-xs-12 col-md-6">
                    <h4>Company Information</h4>
                    <div class="input-group" ng-repeat="company in mToolsInput.companies track by $index">

                        <span class="input-group-addon">{{company}}</span>
                        <input type="text" class="form-control" placeholder="Username Suffix" ng-model="mToolsInput.companyShortCodeInput[$index]">
                        <input type="text" class="form-control" placeholder="ABN" ng-model="mToolsInput.companyABNInput[$index]">
                    </div>

                    <div class="page-header">
                        <h4>Columns From Uploaded CSV</h4>
                    </div>
                    <div class="panel-body">
                        <span>:</span>
                        <span ng-repeat="columnHeader in mToolsInput.headersArray"> : {{columnHeader}} : </span>
                        <span>:</span>
                    </div>

                </div><!--/.col-xs-12 col-md-6 -->
                <div class="col-xs-12 col-md-12">
                   
                    <div class="btn-group pull-right">
                        <button id="generateCSVReadyText" type="button" class="btn btn-primary btn-lg" ng-click="generateCSVReadyText()">
                            <span class="glyphicon glyphicon-chevron-right"></span> Generate CSV 
                        </button>
                        <button type="button" class="btn btn-danger btn-lg" ng-click="reset()">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                    </div>
                    
                </div><!--/.col-xs-12 col-md-6 -->
            </div><!--/. panel-body-->
        </div><!--/. transform-mapping  -->
	
	</div><!--/.col-xs-12 col-md-12 -->
	
</div><!--/.default -->